<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
    <link rel="stylesheet" href="" type=text/css>
</head>
<body>
        <form>
            <input type="file" name="piture">
            <button type="submit" name="submit"> Submit </button>
        </form>

        <img >



        <form>
            <input type="url" id="url">
            <button id="submitUrl" type="submit" name="submitUrl"> Submit </button>
        </form>
        <img2>


    <script src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="/javascript/ajax.js"></script>
</body>

</html>
