<!DOCTYPE html>
<html>
<head>
    <title>Text Area</textarea></title>
    <link rel="stylesheet" type="text/css" href="" >
</head>
    <body>

    <form>
        <textarea id="textarea" rows="10" cols="300" name="comment" value="value"></textarea>
        </form>

     <script src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>

    </body>


    </html>
