body{
  overflow: hidden;
}
#background{
  position: fixed;
  left:0;
  top:0;
  height:100%;
  width:50%;
  background-color:grey;
}

#background2{
  background-image:url("462.jpg");
  position: fixed;
  right:0;
  top:0;
  height:100%;
  width:50%;
  background-color:grey;
}

.title{
  position:relative;
  font-size:50px;
  font-family: AmericanTypewriter;
  color:white;
  font-weight:lighter;
  text-align:left;
  left:80px;
  text-decoration: underline;
}

.Container{
  position:absolute;
  left:150px;
  top:100px;
  height:500px;
  width:500px;
}


#wordContainer{
  position:absolute;
  top:350px;
  left:600px;
  margin-bottom: 50px;
  font-size: 40px;
}

.complete {
  position:relative;
  left:600px;
  margin-top:350px;
}

#guess{
  width:200px;
  border:2px dotted black;
  height:40px;
}

button{
  position:absolute;
  width:50px;
  height:47px;
  background-color:black;
  color:white;
  border:none;
  left:156px;
}
.redo button{
    display:none;
    position:absolute;
    border:4px dotted black;
    background-color: white;
    width: 500px;
    height:500px;
    border-radius:50%;
    top:50px;
    left:30%;


  }

  #redo p{
     text-decoration:underline;
     position:relative;
     font-size:100px;
     font-family:AmericanTypewriter;
     color:black;
     font-weight:lighter;
     text-align:center;


   }


   .fullword {
     position:relative;
     left:600px;
     top:50px;
   }

   #fullword{
     width:200px;
     border:2px dotted black;
     height:40px;
   }

 .resolve button{
   left:80%;
   top:62%
 }

 #wrong{
   position:relative;
   width:400px;
   height:30px;
   border: 2px dotted black;
   background-color:white;
   top:75px;
   left:60px;
 }

 #errores{
   position:relative;
   width:405px;
   height:30px;
   background-color:black;
   top:75px;
   left:60px;
 }

 #errores p{
   font-family:AmericanTypewriter;
   color:white;
   font-weight:lighter;
   text-align:center;

 }
