.Container{
  position:relative;
  Border:2px dotted black;
  height: 25px;
}
body{
  margin:0px;
  overflow-x: hidden;
}

.Link{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  font-family: AmericanTypewriter;
  text-decoration: none;
  color:black;
  display:inline;
}


#tuesday{
  position:absolute;
  width:300%;
}
