.Container{
  Border:2px dotted black;
  height: 25px;
}
body{
  margin:0px;
}

.Link{
  position:absolute;
  left:100%;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  font-family: AmericanTypewriter;
  text-decoration: none;
  color:black;
}
