body{
  background-color:white;
  overflow: hidden;
}

h1{

  font-family:Artistica;
  font-size: 40px;
  text-align: center;
}
p{
  font-family:markmywords;
  font-size: 15px;
  text-align: center;
}


button{
  display:block;
  background-color:transparent;
  border-radius: 30px;
  border: 0px;
  width: 200px;
  height:auto;
  font-family:Artistica;
}

button a:link {
    text-decoration: none;
    font-size: 20px;
    color:black;

}
button a:visited {
    text-decoration: none;
    color:black;
    font-size: 20px;

}

button a:hover {
    text-decoration: none;
    color:lightblue;
    font-size: 20px;
}

#link a {
    margin-left:40%;
    position:relative;
    text-decoration:none;
    font-family: LinealSimplesST;
    color:lightblue;
    font-size: 20px;
}

#link a:hover {

    text-decoration: none;
    color:lightblue;
    font-size: 20px;
}

#images{
    position:absolute;
    margin-left:34%;
    margin-top:0%;
}
