body{
  background-color:lightblue;
}

h1{

  font-family:Artistica;
  font-size: 40px;
  text-align: center;
}
p{
  font-family:markmywords;
  font-size: 15px;
  text-align: center;
}


button{
  display:block;
  background-color:transparent;
  border-radius: 30px;
  border: 0px;
  width: 200px;
  height:auto;
  font-family:Artistica;
}

button a:link {
    text-decoration: none;
    font-size: 20px;
    color:black;

}
button a:visited {
    text-decoration: none;
    color:black;
    font-size: 20px;

}

button a:hover {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

#link {
    text-decoration:none;
    font-size:10px;
    text-align: center;
    color:black;
    font-family: arial;

}
