<!Doctype html>
<html>
  <head>
    <tittle> </title>
      <link href="/css/portfolioStyle.css" rel="stylesheet" type="text/css">
  </head>
      <body>

<h1>Hangman </h1>
<p> The traditional game of hangman <br></p>
<div id="link"><a href="/portfolio/Hangman/index.html">Let's see the project</a></div>


{{>portfolio}}


      </body>
</html>
