<!Doctype html>
<html>
  <head>
    <tittle> </title>
      <link href="/css/portfolioStyle.css" rel="stylesheet" type="text/css">
  </head>
      <body>

<h1>Hangman </h1>
<p> The traditional game of hangman <br></p>


<div id="link"><a href="/portfolio/{{portfolioName}}" target="_blank">Let's see the project</a></div>
<div id="images"><img src="/portfolio/Hangman/screenshot.png" width=450px height=500px></img></div>


<div class="fondo">
  {{>portfolio}}

</div>

      </body>
</html>
