<!Doctype html>
<html>
  <head>
    <tittle> </title>
      <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
      <body>
        <div class="titulo">
        <h1> Welcome <br> to my <br>Portfolio </h1>
          <img id="circulo" src="/images/circulo.png"></img>
        </div>


        {{#each portfolio}}

        <button><a href="/portfolio/{{this}}/description">{{{this}}}</a></button>

        {{/each}}


      </body>
</html>
