<!Doctype html>
<html>
  <head>
    <tittle> </title>
    <link href="/css/portfolioStyle.css" rel="stylesheet" type="text/css">
  </head>
      <body>
<h1>Panes</h1>
<p>We all love Fridays </p>

<div id="link"><a href="/portfolio/{{portfolioName}}" target="_blank">Let's see the project</a></div>
<div id="images"><img src="/portfolio/panes/screenshot.png" width=450px height=500px></img></div>




{{>portfolio}}

      </body>
</html>
