<!Doctype html>
<html>
  <head>
    <tittle> </title>
      <link href="/css/portfolioStyle.css" rel="stylesheet" type="text/css">
  </head>
      <body>
<h1>Spotify</h1>
<p> Find your favorite Artist and your favorite Album</p>
<div id="link"><a href="/portfolio/hangman/index.html" target="_blank">Let's see the project</a></div>

{{>portfolio}}
      </body>
</html>
