<!Doctype html>
<html>
  <head>
    <tittle> </title>
      <link href="/css/portfolioStyle.css" rel="stylesheet" type="text/css">
  </head>
      <body>
<h1>Spotify</h1>
<p> Find your favorite Artist and your favorite Album</p>
<div id="link"><a href="/portfolio/{{portfolioName}}"target="_blank">Let's see the project</a></div>
<div id="images"><img src="/portfolio/Spotify/screenshot.png" width=400px height=500px></img></div>
{{>portfolio}}
      </body>
</html>
